.checkline {
  justify-content: flex-start;
  padding-left: 98px;
  margin-bottom: 46px;
}

.checkline--radio {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 29px;
}

.checkline--last {
  padding-bottom: 19px;
}

.checkline__label {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.checkline__label--radio {
  position: relative;
}

.checkline__label--radio::before,
.checkline__label--checkbox::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  left: -78px;
  top: -17px;
}

.checkline--checkbox {
  margin: 0;
  margin-bottom: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkline__input--radio:checked+.checkline__label--radio::before {
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='56'><circle r='28' cx='28' cy='28' fill='#f2f2f2'></circle><circle r='11' cx='28' cy='28' fill='#333333'></circle></svg>");
  background-image: url("../img/radio-checked.svg");
}

.checkline__input--radio:checked:hover+.checkline__label--radio::before {
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='56'><circle r='28' cx='28' cy='28' fill='#e5e5e5'></circle><circle r='11' cx='28' cy='28' fill='#333333'></circle></svg>");
  background-image: url("../img/radio-checked-hover.svg");
}

.checkline__input--radio:checked:active+.checkline__label--radio::before {
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='56'><circle r='28' cx='28' cy='28' fill='#d5d5d5'></circle><circle r='11' cx='28' cy='28' fill='#a4a4a4'></circle></svg>");
  background-image: url("../img/radio-checked-active.svg");
}

.checkline__input--radio:not(checked)+.checkline__label--radio::before {
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='56'><circle r='28' cx='28' cy='28' fill='#f2f2f2'></circle></svg>");
  background-image: url("../img/radio.svg");
}

.checkline__input--radio:not(checked):hover+.checkline__label--radio::before {
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='56'><circle r='28' cx='28' cy='28' fill='#e5e5e5'></circle></svg>");
  background-image: url("../img/radio-hover.svg");
}

.checkline__input--radio:not(checked):active+.checkline__label--radio::before {
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='56'><circle r='28' cx='28' cy='28' fill='#d5d5d5'></circle></svg>");
  background-image: url("../img/radio-active.svg");
}


.checkline__label--checkbox {
  position: relative;
}

.checkline__input--checkbox:checked+.checkline__label--checkbox::before {
  background-image: url("../img/checkbox-checked.svg");
}

.checkline__input--checkbox:checked:hover+.checkline__label--checkbox::before {
  background-image: url("../img/checkbox-checked-hover.svg");
}

.checkline__input--checkbox:checked:active+.checkline__label--checkbox::before {
  background-image: url("../img/checkbox-checked-active.svg");
}

.checkline__input--checkbox:not(checked)+.checkline__label--checkbox::before {
  background-image: url("../img/checkbox.svg");
}

.checkline__input--checkbox:not(checked):hover+.checkline__label--checkbox::before {
  background-image: url("../img/checkbox-hover.svg");
}

.checkline__input--checkbox:not(checked):active+.checkline__label--checkbox::before {
  background-image: url("../img/checkbox-active.svg");
}

.checkline--small-margins {
  margin-bottom: -3px;
}

@media (min-width: 768px) {
  .checkline {
    padding-left: 101px;
  }

  .checkline--radio {
    margin-left: 34px;
    margin-bottom: 9px;
  }

  .checkline--checkbox {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    width: 161px;
  }

  .checkline--bridge {
    order: 0;
  }

  .checkline--slide-park {
    order: 2;
  }

  .checkline--bell-tower {
    order: 1;
  }

  .checkline--red-rocks {
    order: 3;
  }

  .checkline__label--radio::before,
  .checkline__label--checkbox::before {
    left: -79px;
  }
}

@media (min-width: 1200px) {
  .checkline--checkbox {
    margin-left: -4px;
    margin-bottom: 22px;
  }

  .checkline--red-rocks {
    margin-left: 0;
    padding-left: 80px;
  }
}
