
  .feature__wrapper--bottom {
    background-color: #eeeeee;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    min-height: 503px;
  }

@media (min-width: 768px) {
  .features__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eeeeee;
  }

  .feature__wrapper--bottom {
    min-height: 256px;
  }
}

@media (min-width: 1200px) {
  .feature__block--gray {
    min-height: 256px;
  }
}
