.feature-block__heading {
  letter-spacing:0.1px;
}

.feature-block__heading--gray {
  padding-top: 24px;
}

.feature-block__counter {
  // margin-top: 7px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.feature-block__text {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 13px;
  line-height: 21px;
  // margin-bottom: 41px;
}

// .feature-block__text--gray {
//   margin-bottom: 30px;
// }

.feature-block__divider {
  height: 22px;
  background-color: #ffffff;
}

.feature-block__wrapper--text {
  background-color: #81b3d2;
}

.feature-block__wrapper--triangle-top {
  height: 209px;
}

// .feature-block__heading--triangle-top {
//   padding-top: 56px;
// }

.feature-block__wrapper--items{
  // margin-top: 18px;
}

.feature-block--two {
  // margin-top: 22px;
}

@media (min-width: 768px) {
  .feature-block__wrapper {
    display: flex;
    flex-direction: row;
  }

  .feature-block__wrapper--items {
    width: auto;
    display: flex;
    background-color: #ffffff;

    // margin-top: 59px;
  }

  .feature-block__wrapper--text {
    display: flex;
    flex-direction: column;
    min-width: 256px;
    height: auto;
  }

  .feature-block__heading {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
  }

  .feature-block__text {
    width: 170px;
    // margin-top: 19px;
    // margin-bottom:44px;
  }

  .feature-block__image {
    height: 256px;
  }

  .feature-block--two {
    flex-direction: row-reverse;
    // margin-top: 61px;
  }
}

@media (min-width: 1280px) {
  .feature-block__wrapper--text {
    min-width: 400px;
    justify-content: space-between;
  }

  .feature-block__wrapper--items {
    min-height: 330px;
  }

  .feature-block__heading {
    padding-top: 52px;
  }

  .feature-block__text {
    width: 270px;
    // margin-bottom: 13px;
    padding-bottom: 58px;
  }

  .feature-block--two {
    // margin-top: 82px;
  }

  .feature-block__heading--gray {
    padding-top: 45px;
  }

  .feature-block__text--gray {
    padding-bottom: 65px;
  }
}
