.features {
margin-top: -35px;
}

.feature:first-child {
background-color: #81b3d2;
color: #ffffff;
display: flex;
flex-direction: column;
justify-content: space-between;
}

// .feature:first-child::after {
//   position: absolute;
//   content: "";
//   width: 320px;
//   height: 26px;
//   bottom: -10px;
//   background-image: url("../img/bg-triangle.svg");
// }

.feature__heading {
  padding-top: 74px;
  margin: 0;
}

.feature__counter{
  margin-top: 6px;
}

.feature__text {
  margin: 0;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  line-height: 21px;
  margin-bottom: 39px;
}
