.feedback__group {
  border: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e5e5e5;
  margin-top: 17px;
  padding-bottom: 9px;
}

.feedback__group--attraction {
  padding-bottom: 0;
}

.feedback__heading {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform:uppercase;
  text-align: center;
  margin-top: 18px;
  letter-spacing: 0.2px;
}

.feedback__heading--attraction {
  padding-top: 19px;
  margin-left: 42px;
  padding-bottom: 11px;
  width: 240px;
  margin-top: 0;
}

.feedback__heading--impressions {
  margin-top: 21px;
  margin-left: -59px;
  margin-bottom: 38px;
}

.feedback__heading--emotions {
  margin-bottom: 18px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
}

.feedback__group-item {
  margin-top: 20px;
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.feedback__group-item--email {
  margin-top: 13px;
}

.feedback__textarea {
  display: flex;
  background-color: #f2f2f2;
  width: 279px;
  height: 156px;
  border: none;
  font-family: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

.feedback__textarea::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  padding-left: 15px;
  padding-top: 10px;
}

.feedback__button {
  width: 280px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
