.inputline__input {
  background-color: #f2f2f2;
  min-width: 192px;
  height: 56px;
  border: none;
}

.inputline__label {
  text-transform: uppercase;
  font-size: 14px;
  padding-top:2px;
}

.inputline__label--phone {
  text-align: left;
  margin-left: -75px;
  margin-top: 2px;
}

.inputline__label--email {
  text-align: left;
  margin-left: -89px;
  margin-top: 2px;
}

.inputline__input--name {
  min-width: 230px;
}

.inputline__input::-webkit-input-placeholder {
  font-size: 15.5px;
  color: #000000;
  font-weight: bold;
  padding-left: 21px;
  letter-spacing: 0.3px;
}

.inputline__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.inputline__input--contacts {
  width: 222px;
  margin-top: 10px;
}

.inputline__icon {
  background-color: #e6e6e6;
  width: 38px;
  height: 38px;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
}

.inputline--contacts {
  display: flex;
  flex-direction: column;
  position: relative;
}
