.inputline__input {
  background-color: #f2f2f2;
  min-width: 192px;
  height: 56px;
  border: none;
}

.inputline__label {
  text-transform: uppercase;
  font-size: 14px;
  padding-top:2px;
}

.inputline__input--name {
  min-width: 230px;
}

.inputline__input::-webkit-input-placeholder {
  font-size: 15.5px;
  color: #000000;
  font-weight: bold;
  padding-left: 21px;
  letter-spacing: 0.3px;
}

.inputline__input--phone,
.inputline__input--email {
  width: 280px;
  margin-top: 10px;
  // position: relative;
  // background: #f2f2f2;
  // background-image: url("../img/icon-phone.svg"), linear-gradient(to right, #f2f2f2 222px, #e6e6e6 222px) cover;
  // background:  no-repeat;
  //  linear-gradient(to right, #f2f2f2 222px, #e6e6e6 222px);
  // background-image: url("../img/icon-phone.svg");
  // background-repeat: no-repeat;
  // background-position-x: 100px;
}

.inputline--contacts {
  display: flex;
  flex-direction: column;
  position: relative;
}
