.page-header {
  position: relative;
}

.page-header__logo {
display: flex;
justify-content: center;
height: 84px;
z-index: 1;
}

.page-header__toggler {
  position: absolute;
  bottom: 39px;
  right: 12px;
  border: none;
  background-color: transparent;
  height: 34px;
  width: 38px;
}
