.page-main {
  padding: 0;
  margin: 0;
  margin-top: -28px;
}

.page-main__intro {
  // display: flex;
  // flex-direction: column;
  background-color: #80909a;
  position: relative;
}

.page-main__intro::before {
  position: absolute;
  content: "";
  height: 280px;
  width: 280px;
  top: 57px;
  left: 20px;
  background-image: url("../img/text-sedona-index.svg");
  background-size: 280px 280px;
  background-repeat: no-repeat;
}

.page-main__intro::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 28px;
  bottom: -1px;
  left: 0px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-size: 100% 28px;
  background-repeat: no-repeat;
}

.page-main__intro--low::after
{
  bottom: -1px;
}

.page-main__intro-img {
  width: 100%;
  height: 389px;
}

.page-main__intro-img--low {
  height: 157px;
}

.page-main__intro--low::before {
  background-image: url("../img/text-sedona.svg");
  background-size: 230px 70px;
  height: 70px;
  width: 230px;
  top: 35px;
  left: 45px;
}

// .page-main__image-wrapper {
//   flex-basis: 100%;
//   width: 100%;
//   max-height: 393px;
//   overflow: hidden;
//   background-image: linear-gradient(#80909a 389px, #ffffff 389px);
// }

.page-main__image-wrapper--low {
  max-height: 157px;
  background-image: linear-gradient(#80909a 153px, #ffffff 153px);
}

@media (min-width: 768px) {
  .page-main__intro-img {
    min-height: 518px;
  }

  .page-main__intro-img--low {
    min-height: 289px;
  }

  .page-main__intro::before {
    height: 350px;
    width: 470px;
    background-size: 470px 350px;
    top: 77px;
    left: 149px;
  }

  .page-main__intro--low::before {
    top: 90px;
    height: 90px;
    width: 450px;
    background-size: 450px 90px;
    left: 160px;
  }
  .page-main__intro::after {
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: 100% 57px;
    background-position: 0px 0px;
  }

  .page-main__form {
    display: flex;
    flex-wrap: wrap;
  }

  // .page-main__image-wrapper {
  //   max-height: 521px;
  //   overflow: hidden;
  //   // background-color: #80909a;
  //   background-image: linear-gradient(#80909a 517px, #ffffff 517px);
  // }
}

@media (min-width: 1200px) {
  .page-main__intro {
    background-color: #ffffff;
    min-height: 521px;
  }

  .page-main__intro--low {
    min-height: 300px;
  }

  .page-main__intro-img--low {
    min-height: 300px;
  }

  .page-main__intro::before {
    left: 370px;
    background-image: url("../img/text-sedona-index.svg");
    background-size:459px 350px;
  }

  .page-main__intro--low::before {
    top: 96px;
    height: 90px;
    width: 460px;
    background-size: 460px 90px;
    left: 370px;
    background-image: url("../img/text-sedona.svg")
  }

  .page-main__intro::after {
    height: 61px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-size: 100% 61px;
    background-position: 0px -2px;
  }

  // .page-main__intro-img--low {
  //   height:297px;
  // }
}
