.page-main {
  padding: 0;
  margin: 0;
  margin-top: -28px;
  // display: flex;
  // flex-direction: column;
}

// @media (min-width: 768px) {
//   .page-main__form {
//     display: flex;
//     flex-wrap: wrap;
//   }

.page-main__intro {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-main__intro::before {
  position: absolute;
  content: "";
  height: 280px;
  width: 280px;
  top: 57px;
  left: 20px;
  background-image: url("../img/text-sedona-index.svg");
  background-size: 280px 280px;
  background-repeat: no-repeat;
}

.page-main__intro::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 28px;
  bottom: 3px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-size: 100% 28px;
  background-repeat: no-repeat;
}

.page-main__intro-img {
  width: 100%;
  height: 389px;
}

.page-main__intro-img--low {
  height: 157px;
}

.page-main__intro--low::before {
  background-image: url("../img/text-sedona.svg");
  background-size: 230px 70px;
  height: 70px;
  width: 230px;
  top: 35px;
  left: 45px;
}
// }

@media (min-width: 768px) {
  .page-main__intro-img {
    height: 518px;
  }

  .page-main__intro-img--low {
    height: 289px;
  }

  .page-main__intro::before {
    height: 350px;
    width: 505px;
    background-size: 450px 350px;
    top: -41px;
    left: 160px;
  }

  .page-main__intro::after {
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: 100% 57px;
    background-position: 0px -1px;
  }

  .page-main__form {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .page-main__intro {
    background-color: #ffffff;
  }

  .page-main__intro::before {
    // top: 0px;
    left: 370px;
    background-image: url("../img/text-sedona-index.svg");
    background-size:459px 350px;
  }

  .page-main__intro--low::before {
    top: -35px;
    background-image: url("../img/text-sedona.svg")
  }

  .page-main__intro::after {
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-size: 100% 58px;
    background-position: 0px 0px;
  }

  .page-main__intro-img--low {
    height:297px;
  }
}
