.player {
  position: relative;
}

.player__text {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
}

.player__wrapper {
  position: absolute;
  top: 348px;
  left: 20px;
}

.player__timeline {
  width: 280px;
  height: 45px;
  background-color:rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__controls-wrapper {
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__controls {
  width:  232px;
  display: flex;
  justify-content: space-between;
}

.player__line {
  width: 235px;
  height: 3px;
}

.player__circle {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 58px;
}

.player__replay {
  flex-grow: 0.7;
}

@media (min-width: 768px) {
  .player__title {
    font-size: 30px;
  }

  .player__text {
    width: 430px;
  }
}
