.social__link {
  font-size: 0;
  width:46px;
  height: 48px;
  background-color: @bg-greyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:hover {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
}

.social__img {
  fill: #ffffff;
}

.social__link:active .social__img {
  fill: #88b6d1;
}
