.to-find {
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 49px;
}

.to-find-form__heading {
  font-size: 21px;
  line-height: 26px;
}

.to-find-form__text {
  margin: 0;
  font-size: 14px;
  line-height:24px;
  text-transform: uppercase;
  width: 280px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 36px;
}

.to-find-form__link {
  width: 280px;
  min-height: 41px;
  font-weight: bold;
  letter-spacing: 0.0px;
  padding-top: 17px;
  // min-height: 48px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

@media (min-width: 768px) {
  .to-find {
    min-height: 205px;
    padding-top: 54px;
    padding-bottom: 58px;
  }

  .to-find-form__heading {
    font-size: 30px;
  }

  .to-find-form__text {
    padding-top: 31px;
    padding-bottom: 42px;
    width: 458px;
  }

  .to-find-form__link {
    width: 458px;
  }
}

@media (min-width: 1200px) {
  .to-find {
    min-height:210px;
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .to-find-form__text {
    padding-bottom: 47px;
  }
}
