.to-find-form__heading {
  font-size: 21px;
  line-height: 26px;
  // padding-top: 28px;
}

.to-find-form__text {
  font-size: 14px;
  line-height:24px;
  text-transform: uppercase;
  width: 280px;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.to-find-form__link {
  width: 280px;
  height: 44px;
  // padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 35px;
}

@media (min-width: 768px) {
  .to-find-form__heading {
    font-size: 30px;
    // margin-top: 27px;
  }

  .to-find-form__text {
    width: 396px;
    // margin-top: 26px;
  }

  .to-find-form__link {
    width: 458px;
    // margin-top: 42px;
    height: 43px;
    font-weight: bold;
    letter-spacing: 0.2px;
  }
}

@media (min-width: 1280px) {
  .to-find-form__link {
    // margin-top: 47px;
  }

  .to-find {
    min-height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .to-find-form__heading {
    padding-top: 35px;
  }

  .to-find-form__link {
    padding-top: 14px;
    // margin-bottom: 30px;
  }
}
