.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  padding-top: 31px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 151px;
  padding-top: 36px;
  padding-bottom: 40px;
}

.footer__copyright-link {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 129px;
  font-size: 14.5px;
  padding-bottom: 25px;
}

.footer__copyright-link:hover {
  fill: @bg-greyblue;
}

.footer__copyright-link:active {
  fill: #b2b2b2;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 33px;
  }

  .footer__hashtag,
  .footer__social,
  .footer__copyright-link {
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .footer__copyright-link {
    fill: #000000;
  }

  .footer--photo {
    padding-top: 76px;
  }
}

@media (min-width: 1200px) {
  .footer {
    align-items: center;
    justify-content: flex-start;
    padding-left: 132px;
  }

  .footer__social {
    justify-content: space-between;
    width: 151px;
    margin-left: 256px;
    margin-right: 352px;
  }

  .footer--photo {
    padding-top: 121px;
  }
}
