.gallery {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

// .gallery__player {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
//   width: 100%;
//   padding-top: 18px;
//   min-height: 469px;
// }

@media (min-width: 768px) {
  .gallery--wrapper {
    width: 648px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-top: 42px;
  }
}


@media (min-width: 1200px) {
  .gallery--wrapper {
    width: 1200px;
  }
}
